---
---

/* Theme */

@import "{{ site.theme }}";

/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family={{ site.body_font }}&family={{ site.header_font }}&display=swap');

/* Basic Styling */

body {
  font-family: {{ site.body_font }}, sans-serif;
  background: {{ site.background_color }}; 
  color: {{ site.font_color }};
}

h1, h2, h3 {
  font-family: {{ site.header_font }}, serif;
  color: {{ site.color1 }};
}


a {
  font-weight: normal;
  color: {{ site.color1 }};
  text-decoration: underline;
}

a:hover, a:focus {
  font-weight: normal;
  color: {{ site.color2 }};
  text-decoration: none;
}
